{% load static %}
<html>
    <head>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    </head>
    <body>
        <div class='container'>
            <div class="jumbotron"  >
                <h1>Welcome To Univens News Portal</h1><hr>
                <a class="btn btn-primary btn-lg" href="/politics" role="button">Political News</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary btn-lg" href="/movie" role="button">Movie News</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary btn-lg" href="#" role="button">Sports News</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </body>
</html>