{%load static%}

<html>
    <head>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="{%static 'css/demo.css'%}">
    </head>
    <body>
       <h2>Today's Breaking News Related To Movies Are:</h2><hr>
       <ul>
           <li>{{news1}}</li>
           <li>{{news2}}</li>
           <li>{{news3}}</li>
           <li>{{news4}}</li>
       </ul>

      
       <img src="https://gumlet.assettype.com/nationalherald%2F2019-06%2F96fc1675-1828-432a-b5ea-5013c31200ca%2Fsalman_khan.jpg?rect=0%2C0%2C750%2C422&auto=format%2Ccompress&w=1200" alt="">
       <img src="{%static 'images/kangna.jpeg'%}" alt="">
       <img src="https://static.toiimg.com/thumb/msid-30735215,width-800,height-600,resizemode-75,imgsize-19816,pt-32,y_pad-40/30735215.jpg" alt="">
       <img src="https://c.ndtvimg.com/2020-08/dcgjhi98_sushant-singh-rajput_625x300_23_August_20.jpg" alt="">
    </body>
</html>